<% layout('layouts/boilerplate') %>

<div class="container mt-5 text-center">
    <h1 class="display-4 text-danger">Oops!</h1>
    <p class="lead"><%= err.statusCode || 500 %> - <%= err.message || "Something went wrong!" %></p>

    <a href="/listings" class="btn btn-primary mt-4">← Go Back</a>
</div>
